body{
    background-color: $bg;
    font-family: $font;
    
}

.main-title{
  text-align: center;
  font-weight: bold;
  color: red;
}


//HIV NUMBERS
.red-box-parent{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.red-bg{
  margin:0px;
  position: relative;
 
 

   img{
    
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
    z-index: -1;
    object-fit: fill;
    top: 0;
    

   }
   h4{
     text-align: center;
     margin: 20px;
      color:$bg;
      font-weight: bold;
      font-size: 1rem;


   }

   p{
     
   
   
     text-align: center;
     color: $bg;
   }
}


//LATEST NEWS
.news{
  margin-top: 20px;
  .news-img{
    width: 80%;
  }
 .subtitle{
   color: red;
   font-size: 20px;
   //font-weight: bold;
 }

}


//UP TO TEST?
.box-bg{
  //margin:20px;
  position: relative;

  img{
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
    z-index: -1;
    object-fit: fill;
    top: 0;
    
    
  }

  
    h4{
      margin-top: 20px;
      padding-top: 80px;
      top:0;
      margin-left: 20px;
      font-weight: bold;
    }

   

   p{
    
     
     margin-top: 15px;
     //height: 100%;
   
     margin-left: 20px;
     margin-right: 60px;
     text-align: left;
     font-size: 12px;
     color: $gray;
   }
   .link-test{
    margin-bottom: 160px;
    a{
   
      z-index: 2;
      padding: 10px;
       text-align: center;
        background-color: red;
        border-radius: 21px;
        cursor: pointer;
        color:white;
        text-decoration: none;
        
      }
   }

   
}




//PROTECT YOURSELF
.box-blue-bg{
 margin-top: 50px;
 padding: 20px;
  position: relative;
  

  img{
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
    z-index: -1;
    object-fit: fill;
    top: 0;
    //margin-top:50px;
  }

   h2{
     text-align: center;
    
      color:$bg;
      font-weight: bold;
      font-size: 2rem;
      padding: 10px;
      margin: 30px;
      margin-bottom: 10px;

   }

   p{
    
     text-align: center;
     //bottom: 100%;
     color: $bg;
     padding: 30px;
     margin: 0px 20px 0px 20px;
   }

   .link-protect{
   

    a{
      margin: 20px;
       z-index: 2;
       padding: 15px;
        text-align: center;
         background-color:white;
         border-radius: 21px;
         cursor: pointer;
         color:red;
         text-decoration: none;
        
   }
 
   } 
}
//DO YOU KNOW?
.black-box{
  position: relative;
  img{
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
    z-index: -1;
    object-fit: fill;
    top: 0;
  }

  
}

//LEFT BOX
.know{
  h4{
   
  }

  p{
  
    text-align: center;
  }

  .left-box{
  

  h4{
    //margin-top: 150px;
    margin-left: 80px;
    padding-top: 100px;
  }

  p{
    padding-top: 0px 50px 0px 50px;

    text-align: center;
  }
  
}
}