.jumbotron{
    margin-right: 20px;
    margin-left: 20px;
    padding: 0;
    background-color: $bg;
    object{
        max-width: 40%;
        align-self: center;
        margin-top: -30px;
    }

   .characters{
      
       .chr-box{
           margin: 0;
           padding: 0;
       }
   }

 

   .social{
      height: 50px;
   
    object{
        max-width: 100%;
    }
       
   }
}