@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800,900&display=swap");
.drugs-subtitle {
  color: #EC4B4B;
  font-weight: 200;
  font-size: 20px; }

.know h4 {
  color: #EC4B4B; }

.know .left-box.drugs h4 {
  margin-top: 0;
  padding-top: 20;
  color: #EC4B4B; }

.condom img {
  width: 50%;
  margin: 0 auto; }

.paragraph {
  font-size: 1rem; }

.honest {
  background-image: url("/images/bg_blue.svg");
  background-size: contain;
  background-repeat: no-repeat;
  color: #2B2B2B; }
  .honest p {
    padding: 10px; }
  .honest .block
img {
    position: initial;
    width: 20px;
    height: 40px;
    margin: 0; }

.red-span span {
  color: #EC4B4B;
  display: block; }

.bottom-p {
  font-weight: bold;
  color: #EC4B4B;
  font-size: 1rem; }

.conversations {
  font-size: 2rem;
  margin-top: 30px; }
