.support {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto; }

.contactForm {
  margin: 0 auto; }
  .contactForm button {
    display: flex;
    margin: 0 auto; }
  .contactForm::placeholder {
    font-size: 18px;
    opacity: 0.5;
    padding: 10px 20px; }
  .contactForm form {
    padding: 60px 20px; }
  .contactForm .formColumn {
    display: flex;
    flex-direction: column;
    flex: 1; }
  .contactForm input,
  .contactForm textarea {
    margin: 0px 0px 40px 0px;
    border: solid 1px #457AB0;
    border-radius: 10px;
    background-color: transparent;
    color: #2B2B2B;
    font-size: 18px;
    flex: 1;
    padding: 10px;
    outline: none; }
  .contactForm textarea {
    margin: 0px 0px 0px 0px;
    height: 300px;
    width: 120%;
    box-sizing: border-box; }
  .contactForm input:active {
    outline: none; }
