footer{
    
      
    
.logo-footer{
    margin-top: 20px;
}

    
        background-color: $gray;
        margin: 0;
        padding: 0;
        .social-bottom{
          object{
              padding: 20px;
              
          }
        }
nav{
    
        background-color: $gray;
        .nav-link{
            color: white;
            font-weight: bold;
            margin: 0;
            &:hover{
                color:#c92c32;
                transition: 600ms cubic-bezier(.99,0,.57,.94);
            }
        }
      
}

.line, a{
    color: $bg;
  
   
}
a{
    &:hover{
        color:#c92c32;
        transition: 600ms cubic-bezier(.99,0,.57,.94);
    }
}
p{
    color:$white;
}

}

