//responsive font
html {
    font-size: 1rem;
  .display-4{
    font-size: 2.5rem;
  }

 //dropdown

.dropdown-menu {
  //display: inline;
  background-color: rgb(201, 40, 40);
  visibility: hidden;
  opacity:0;
  transform: translateY(50px);
  transition:.5s ease all;
  :active{
    background-color: $bg;
    color: black;
  }
}
.dropdown-menu.show {
  display: block;
  visibility: visible;
  opacity:1;
  transform: translateY(0px);
  transition:.5s ease all;
}




}
  
  @include media-breakpoint-up(sm) {
    html {
      font-size: 1.1rem;
    
      .display-4{
        font-size: 2.7rem;
      }
    
    
  
  }
}
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 1.2rem;
    }

    
    .display-4{
      font-size: 3rem;
    }

   .box-bg{

    h4{
      margin-top: 20px;
      padding-top: 80px;
      margin-left: 40px;
    }
    p{
      font-size: 15px;
      margin-top: 20px;
   
     margin-left: 40px;
     margin-right: 80px;
    }
    
    .link-test{
      margin-bottom: 300px;
    }


   }
    
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 1.5rem;
      p{
        font-size: 2.5vh;
      }
      
      .display-4{
        font-size: 3.5rem;
      }

    

      //dropdown

.dropdown-menu {
  display: block;
  
  }


  .box-bg{
     h4{
       margin-left: 120px;
       font-size: 2rem;
     }
 
    p{
      padding:0 80px 0px 80px;
    
      margin-top: 30px;
      
      margin-right: 100px;
      text-align: left;
      font-size: 20px;
      color: $gray;
    }
    .link-test{
      margin-bottom: 300px;
    }

   }
    
  }
  .black-box{
    object{
      width: 26%;
    }
  }
}
