
nav{
    //border-bottom: solid rgba(88, 86, 86, 0.5) 2px;
    background-color: $bg;
    .first-button{
        outline: none;
        border:0;
    }
}


.logo{
    width: 100px;
    margin-top:20px;
   
}

nav {
  .first-button {
    outline: none;
    border: 0;
  }
}

