#app{
  margin: 0px;
  padding: 0px;
  width: auto;
}
nav{
    background-color:$bg;
    width: auto;
    .first-button{
        outline: none;
        border:0;
    }

    .btn-primary{
      background: $red;
      color: $white !important;
      border-radius: 30px;

  }
   
}



nav {
  .first-button {
    outline: none;
    border: 0;
 
  }
}

